<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>ASC</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link href="css/style.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body class="sub_page">
  <div id="app">
    <div class="hero_area">
      <div class="hero_bg_box">
        <div class="bg_img_box">
          <img src="images/hero-bg.png" alt="">
        </div>
      </div>
      <header class="header_section">
        <div class="container-fluid">
          <nav class="navbar navbar-expand-lg custom_nav-container ">
            <a class="navbar-brand" href="index.html">
              <span>ASC</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav">
                <li class="nav-item active">
                <li class="nav-item">
                  <a class="nav-link" href="index.html">Classes</a>
                </li>
                <button class="btn my-2 my-sm-0 nav_search-btn" type="submit" ref="checkoutButton">
                  <i class="fa fa-shopping-cart" aria-hidden="true"></i> CHECKOUT {{ totalSpacesInCart }}
                </button>
                <form class="form-inline">
                  <button class="btn my-2 my-sm-0 nav_search-btn" type="submit">
                    <i class="fa fa-search" aria-hidden="true"></i>
                  </button>
                </form>
              </ul>
            </div>
          </nav>
        </div>
      </header>
    </div>

    <section class="slider_section ">
      <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container ">
              <div class="row">
                <div class="col-md-6 ">
                  <div class="detail-box">
                    <h2>
                      After School <br>
                      Classes
                    </h2>
                    <p1>
                      Welcome to After School Classes!
                      Your source for a productive and fun way to utilize your time.
                      We offer courses, which allows students and their parents to buy after school classes and
                      activities.
                      So stop searching and start your journey today!
                    </p1>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="img-box">
                    <img src="images/slider-img.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="service_section layout_padding">
      <div class="service_container">
        <div class="container">
          <div class="heading_container heading_center">
            <h2>Our <span>Classes</span></h2>
            <p>Please take a look at the courses that we proudly offer, here at ASC</p>
          </div>

          <div>
            <label for="sortAttribute">Sort by:</label>
            <select id="sortAttribute" v-model="sortAttribute">
              <option disabled value="">Sort</option>
              <option value="subject">Subject</option>
              <option value="location">Location</option>
              <option value="price">Price</option>
              <option value="spaces">Spaces</option>
            </select>
            <label for="sortOrder">Order:</label>
            <select id="sortOrder" v-model="sortOrder">
              <option disabled value="">Order</option>
              <option value="asc">Ascending</option>
              <option value="desc">Descending</option>
            </select>
            <button @click="sortLessons">Sort</button>
          </div>

          <div class="product-box" v-for="product in sortedProducts" :key="product.id">
            <figure>
              <img v-bind:src="product.image" alt="" width="120" height="100">
            </figure>
            <h2 v-text="product.title"></h2>
            <p v-text="'Subject: ' + product.subject"></p>
            <p v-text="'Location: ' + product.location"></p>
            <p v-text="'Price: ' + product.price"></p>
            <p v-text="'Spaces: ' + product.spaces"></p>
            <button @click="addToCart(product)" :disabled="!canAddToCart(product)">Add To Cart</button>
            <span v-if="product.availableInventory === 0">All out!</span>
          </div>

        </div>
      </div>
    </section>

    <section v-if="showProduct" class="team_section layout_padding">
      <div class="container-fluid">
        <div class="heading_container heading_center">
          <h2 class="">
            Checkout</span>
          </h2> <br>
          <p>Please fill up the form below to confirm your order.</p> <br>
        </div>

        <form id="checkoutForm">
          <input type="text" id="name" placeholder="Name" pattern="[A-Za-z ]+" required>
          <input type="tel" id="phone" placeholder="Phone number" pattern="[0-9]+" required>
          <button @click="showCheckout()">Back to Lessons</button>
          <button @click="proceedToCheckout" :disabled="cart.length === 0">Proceed to Checkout</button>
        </form>
      </div>
    </section>

    <section v-if="!showProduct" class="team_section layout_padding">
      <div class="container-fluid">
        <div class="heading_container heading_center">
          <h2 class="">Shopping Cart</h2> <br>
          <p>Your Cart</p> <br>
        </div>

        <div v-if="cart.length === 0">
          <p>Your cart is empty.</p>
        </div>

        <div v-else>
          <div v-for="cartItem in cart" :key="cartItem">
            {{ getLessonTitle(cartItem) }} - <button @click="removeFromCart(cartItem)">Remove</button>
          </div>
        </div>

        <button @click="showCheckout()">Back to Checkout</button>
      </div>
    </section>

  </div>

  <script src="js/lesson.js"></script>
  <script>
    var webstore = new Vue({
      el: '#app',
      data: {
        showProduct: true,
        products: lessons,
        order: {
          firstName: '',
          lastName: '',
          address: '',
          city: '',
          zip: '',
          state: '',
          method: 'Home',
          gift: 'false',
          sendGift: 'Send as a gift',
          dontSendGift: 'Do not send as a gift',
        },
        states: {
          AL: 'Alabama',
          AR: 'Arizona',
          CA: 'California',
          NV: 'Nevada',
        },
        cart: [],
        sortAttribute: '',
        sortOrder: '',
      },
      methods: {
        addToCart: function (product) {
          console.log('addToCart called');
          if (product.availableInventory > 0) {
            this.cart.push(product.id);
            product.availableInventory--;
          }
        },
        sortLessons: function () {
          if (this.sortAttribute && this.sortOrder) {
            this.products.sort((a, b) => {
              const valueA = a[this.sortAttribute];
              const valueB = b[this.sortAttribute];

              if (this.sortOrder === 'asc') {
                return valueA < valueB ? -1 : 1;
              } else {
                return valueA > valueB ? -1 : 1;
              }
            });
          }
        },
        canAddToCart: function (product) {
          return product.spaces > 0;
        },
        showCheckout: function () {
          this.showProduct = !this.showProduct;
        },
        removeFromCart: function (lessonId) {
          const lesson = this.getProductById(lessonId);
          if (lesson) {
            this.cart = this.cart.filter(item => item !== lessonId);
            lesson.availableInventory++;
          }
        },
        getLessonTitle: function (lessonId) {
          const lesson = this.getProductById(lessonId);
          return lesson ? lesson.title : 'Unknown Lesson';
        },
        getProductById: function (productId) {
          return this.products.find(product => product.id === productId);
        },
        proceedToCheckout: function () {
          console.log('Proceeding to checkout...');
          this.cart = [];
          this.showProduct = true;
        },
      },
      computed: {
        cartItemCount: function () {
          return this.cart.length || '';
        },
        totalSpacesInCart: function () {
          return this.cart.length;
        },
        sortedProducts: function () {
          return this.products;
        },
      },
      created() {
        console.log('Lesson data:', this.products);
      },
    });
  </script>
      <!-- checkout section -->
      <!-- <section class="team_section layout_padding">
        <div class="container-fluid">
          <div class="heading_container heading_center">
            <h2 class="">
              Checkout</span>
            </h2> <br>
            <p>Please fill up the form below to confirm your order.</p> <br>
          </div>


          <form id="checkoutForm">
            <input type="text" id="name" placeholder="Name" pattern="[A-Za-z ]+" required>
            <input type="tel" id="phone" placeholder="Phone number" pattern="[0-9]+" required>
            <button id="checkoutButton" disabled>Checkout</button>
          </form>
          <br>
          <script>
            // JavaScript for validation and enabling the checkout button
            const nameInput = document.getElementById("name");
            const phoneInput = document.getElementById("phone");
            const checkoutButton = document.getElementById("checkoutButton");

            nameInput.addEventListener("input", validateForm);
            phoneInput.addEventListener("input", validateForm);

            function validateForm() {
              const nameValid = /^[A-Za-z ]+$/.test(nameInput.value);
              const phoneValid = /^[0-9]+$/.test(phoneInput.value);
              checkoutButton.disabled = !(nameValid && phoneValid);
            }
          </script> -->
          <!-- end checkout section -->
          <!-- footer section -->

          <section class="info_section layout_padding2">
            <div class="container">
              <div class="row">
                <div class="col-md-6 col-lg-3 info_col">
                  <div class="info_contact">
                    <h4>
                      Address
                    </h4>
                    <div class="contact_link_box">
                      <a href="">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <span>
                          Location
                        </span>
                      </a>
                      <a href="">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <span>
                          Call +01 1234567890
                        </span>
                      </a>
                      <a href="">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <span>
                          asc@gmail.com
                        </span>
                      </a>
                    </div>
                  </div>
                  <div class="info_social">
                    <a href="">
                      <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                    <a href="">
                      <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                    <a href="">
                      <i class="fa fa-linkedin" aria-hidden="true"></i>
                    </a>
                    <a href="">
                      <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
                <div class="col-md-6 col-lg-3 info_col">
                  <div class="info_detail">
                    <h4>
                      Info
                    </h4>
                    <p>
                      Your source for a productive and fun way to utilize your time. We offer courses, which allows
                      students and their parents to buy after school classes and activities. So stop searching and start
                      your journey today!
                    </p>
                  </div>
                </div>
                <div class="col-md-6 col-lg-2 mx-auto info_col">
                  <div class="info_link_box">
                    <h4>
                      Links
                    </h4>
                    <div class="info_links">

                      <a class="" href="index.html">
                        Classes
                      </a>
                      <a class="" href="index.html">
                        Checkout
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-3 info_col ">
                  <h4>
                    Subscribe
                  </h4>
                  <form action="#">
                    <input type="text" placeholder="Enter email" />
                    <button type="submit">
                      Subscribe
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </section>


          <section class="footer_section">
            <div class="container">
              <p>
                &copy; <span id="displayYear"></span> All Rights Reserved By
                <a href="https://html.design/">ASC</a>
              </p>
            </div>
          </section>
          <script src="js/lesson.js"></script> <!--linking js -->
          <!--end footer section -->
</body>

</html>